<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | sako_app</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
　　　ポートフォリオとして作成されたアプリです。
    </p>
  </body>
</html>
