<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | sako_</title>
  </head>
  <body>
    <h1>sako_app</h1>
    <p>
      This is the home page for the
      sako_app

    </p>
  </body>
</html>
